* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right,#6699FF, #31408F);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
}
.calculator {
    margin: 10em auto;
    height: 40em;
    background: linear-gradient(to left, #0f2027, #203a43, #2c5364);
    position: relative;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
}

.border {
    border-top: 5px solid black;
    border-radius: 2em;
    height: 5%;
}

h2 {
    text-align: center;
}

.line button {
    padding: 0.2rem;
    margin: 0.2rem;
    width: 5em;
    height: 5em;
    cursor: pointer;
    border-radius: 2em;
    position: abolute;
    font-size: 0.9em;
    font-weight: 600;
    background: linear-gradient(45deg,#000000, #7B7B7B);
    color: white;
}

.digits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 60%;
    padding: 1em;
    background-color: linear-gradient(45deg,#000000, #7B7B7B);
    bottom: 0;
    border-radius: 1em;
}

#digit0 {
    height: 5em;
    width: 10.7em;
    border-radius: 2em;
}

.display {
    background-color: black;
    width: 90%;
    margin: auto;
    border-radius: 1em;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.result {
    margin: 0.1em 0.5em;
    text-align: end;
    color: white;
    font-size: 2em;
    font-weight: 600;
}

.history {
    margin: 0.1em 1em;
    text-align: end;
    color: white;
    font-size: 1em;
}

#clear {
    background: #f9c00c;
}

#equals {
    background: linear-gradient(45deg,#6699FF, #31408F);
}

#multiply, #add, #subtract, #divide {
    background: #5C33F6;
}