:root {
    --body-background: linear-gradient(to right,#6699FF, #31408F);
    --color-numbers: white;
    --background-buttons: linear-gradient(45deg,#03A6FF, #0080FF);
    --background-calculator: rgba(163,218,255, 0.2);
    --border-calculator: 0.3em solid #1EC0FF;
    --background-operations: #5C33F6;
    --background-clear: #f9c00c;
    --background-equals: linear-gradient(45deg,#6699FF, #31408F);
    --background-display: rgba(0, 0, 0, 0.5);
    --shadow-calculator: 0 0.3em 0.5em 0 rgba(92, 51, 246, 0.2), 0 0.5em 1.2em 0 rgba(92, 51, 246, 0.19);
    --color-history: #03A6FF;
    --color-result: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--body-background);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
}
.calculator {
    margin: auto;
    height: 40em;
    background: var(--background-calculator);
    position: relative;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--shadow-calculator); 
    border-top: var(--border-calculator);
    border-bottom: var(--border-calculator);
}

.line button {
    padding: 0.2rem;
    margin: 0.2rem;
    width: 5em;
    height: 5em;
    cursor: pointer;
    border-radius: 2em;
    position: abolute;
    font-size: 0.9em;
    font-weight: 600;
    background: var(--background-buttons);
    color: var(--color-numbers);
}

.digits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 60%;
    padding: 1em;
    border-radius: 1em;
}

#digit0 {
    height: 5em;
    width: 10.7em;
    border-radius: 2em;
}

.display {
    background: var(--background-display);
    width: 90%;
    margin: 0 auto 2em auto;
    border-radius: 1em;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.result {
    margin: 0.1em 0.5em;
    text-align: end;
    color: var(--color-result);
    font-size: 2em;
    font-weight: 600;
}

.history {
    margin: 0.1em 1em;
    text-align: end;
    color: var(--color-history);
    font-size: 1em;
}

#clear {
    background: var(--background-clear);
}

#equals {
    background: var(--background-equals);
}

#multiply, #add, #subtract, #divide {
    background: var(--background-operations);
}